name: Deploy to InfinityFree

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: FTP Deploy Laravel Full Project
        uses: SamKirkland/FTP-Deploy-Action@v4.3.2
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}

          # GitHub repo root = Laravel root
          local-dir: ./

          # Upload to this folder on InfinityFree
          server-dir: /htdocs/new/

          exclude: |
            .git/**
            node_modules/**
            vendor/**
            .env
